
#exampleModal.modal.fade{"aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#exampleModalLabel.modal-title Order Form

      .modal-body
        %form
          .form-group
            = label_tag 'Email'
            %input#recipient-name.form-control{:type => "text"}/

          .form-group
            = label_tag 'Add your comment:'
            %textarea#message-text.form-control

      .modal-footer
        %p= submit_tag 'Order', class: 'btn btn-primary'
