#exampleModal.modal.fade{"aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#exampleModalLabel.modal-title Order Form

      %form
        .modal-body
          .form-group
            = label_tag 'Email'
            %input.form-control{placeholder: 'email', type: 'email', name: 'email'}

          .form-group
            = label_tag 'Add your comment:'
            %input.form-control{placeholder: 'comment', type: 'text', name: 'comment'}

          %p= submit_tag 'Order', class: 'btn btn-primary'


