#exampleModal.modal.fade{"aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Order Form

      .modal-body
        %form{:action => "cart/order", :method => "post"}

          .form-group
            = label_tag 'Email'
            %input.form-control{placeholder: 'email', type: 'email', name: 'user_email'}

          .form-group
            = label_tag 'Add your comment:'
            %input.form-control{placeholder: 'comment', type: 'text', name: 'comment'}

          %p= submit_tag 'Order', class: 'btn btn-primary', method: :post
