.dropup
  %button#dropdownMenu1.btn.btn-default.dropdown-toggle{"aria-expanded" => "true", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
    Language
    %span.caret
  %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu1"}
    %li
      = link_to image_tag('uk.png', size: '20x20') + 'En', locale: :en
    %li
      = link_to image_tag('ua.png', size: '20x20') + 'UA', locale: :ua
    %li
      = link_to image_tag('pl.png', size: '20x20') + 'PL', locale: :pl

